<div class="profile-container row mt-5">
  <div class="img mr-3">
    <img style="width: 18rem;" src="{{user.image}}" alt="Card image cap">
  </div>
  <div style="width: 18em;">
    <div class="card-body">
      <div class="row" style="padding-left: 15px;">
        <h5 class="title">{{user.name}}</h5><a href="/users/{{user.id}}/edit"><i class="fa fa-pencil-square-o ml-2"
            aria-hidden="true"></i></a>
      </div>
      <div class="profile-details">
        <p calss="email">{{user.email}}</p>
        <p calss="comment">{{userResult.length}}則已評論餐廳</p>
        <p class="favorites">{{user.FavoritedRestaurants.length}}個已收藏的餐廳</p>
        <p class="followings">{{user.Followings.length}}followings(追蹤者)</p>
        <p class="followers mb-2">{{user.Followers.length}}followers(追隨者)</p>
      </div>
      {{#if isFollowed }}
      <form action="/following/{{user.id}}?_method=DELETE" method="POST" style="display: contents;"><button
          type="submit" class="btn btn-outline-secondary">取消追蹤</button></form>
      {{else}}
      <form action="/following/{{user.id}}" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-primary">追蹤</button></form>
      {{/if}}
    </div>
  </div>
</div>

<div class="user-info row">
  <div class="info-left col-4 px-0">

    <div class="card my-2">
      <div class="card-header">
        {{user.Followings.length}}followings(追蹤者)
      </div>
      <div class="d-flex flex-wrap">
        {{#each user.Followings}}
        <a href="/users/{{this.dataValues.id}}">
          <img src="{{this.dataValues.image}}" alt="usersImg" class="img px-2 py-2"
            style="width: 100px; height: 100px;">
        </a>
        {{/each}}
      </div>
      {{#ifno user.Followings}}
      <div class="px-2 py-2">
        <p>尚未有追蹤者</p>
      </div>
      {{/ifno}}
    </div>

    <div class="card my-2">
      <div class="card-header">
        {{user.Followers.length}}followers(追隨者)
      </div>
      <div class="d-flex flex-wrap">
        {{#each user.Followers}}
        <a href="/users/{{this.dataValues.id}}">
          <img src="{{this.dataValues.image}}" alt="usersImg" class="img px-2 py-2"
            style="width: 100px; height: 100px;">
        </a>
        {{/each}}
      </div>
      {{#ifno user.Followers}}
      <div class="px-2 py-2">
        <p>尚未有追隨者</p>
      </div>
      {{/ifno}}
    </div>
  </div>

  <div class="info-right col-8">
    <div class="card my-2">
      <div class="card-header">
        {{userResult.length}}個已評論餐廳
      </div>
      <div class=" d-flex flex-wrap">
        {{#each userResult}}
        <a href="/restaurants/{{this.id}}">
          <img src="{{this.image}}" alt="restaurantImg" class="img px-2 py-2" style="width: 100px; height: 100px;">
        </a>
        {{/each}}
      </div>
      {{#ifno userResult}}
      <div class="px-2 py-2">
        <p>尚無評論餐廳</p>
      </div>
      {{/ifno}}
    </div>

    <div class="card my-2">
      <div class="card-header">
        {{user.FavoritedRestaurants.length}}個已收藏餐廳
      </div>
      <div class=" d-flex flex-wrap">
        {{#each user.FavoritedRestaurants}}
        <a href="/restaurants/{{this.dataValues.id}}">
          <img src="{{this.dataValues.image}}" alt="restaurantImg" class="img px-2 py-2"
            style="width: 100px; height: 100px;">
        </a>
        {{/each}}
      </div>
      {{#ifno user.FavoritedRestaurants}}
      <div class="px-2 py-2">
        <p>尚無收藏餐廳</p>
      </div>
      {{/ifno}}
    </div>
  </div>
</div>