<div class="profile-container row mt-5">
  <div class="img mr-3">
    <img style="width: 18rem;" src="{{user.image}}" alt="Card image cap">
  </div>
  <div style="width: 18em;">
    <div class="card-body">
      <div class="row" style="padding-left: 15px;">
        <h5 class="title">{{user.name}}</h5><a href="/users/{{user.id}}/edit"><i class="fa fa-pencil-square-o ml-2"
            aria-hidden="true"></i></a>
      </div>
      <div class="profile-details">
        <p calss="email">{{user.email}}</p>
        <p calss="comment">{{userResult.length}}則已評論餐廳</p>
        <p class="favorites">{{user.FavoritedRestaurants.length}}個已收藏的餐廳</p>
        <p class="followings">{{user.Followings.length}}followings(追蹤者)</p>
        <p class="followers mb-2">{{user.Followers.length}}followers(追隨者)</p>
      </div>
      {{#if isFollowed }}
      <form action="/following/{{user.id}}?_method=DELETE" method="POST" style="display: contents;"><button
          type="submit" class="btn btn-outline-secondary">取消追蹤</button></form>
      {{else}}
      <form action="/following/{{user.id}}" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-primary">追蹤</button></form>
      {{/if}}
    </div>
  </div>
</div>
{{#if userResult}}
<h4>已評論過餐廳</h4>
<hr>
{{/if}}
<div class="d-flex flex-wrap py-4 px-4">
  {{#each userResult}}
  <a href="/restaurants/{{this.id}}">
    <img src="{{this.image}}" alt="restaurantImg" class="img px-2 py-2" style="width: 100px">
  </a>
  {{/each}}
</div>